@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://db.onlinewebfonts.com/c/163b5956969becff559be08a3be0eb3e?family=Aeonik+Pro+Black");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

/* body {
  background: linear-gradient(135deg, #002c5f, #396EBA, #18307A, #101C64);
  font-family: 'Montserrat', sans-serif;
} */

body {
  background-image: url("/background.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
}


html{
  scroll-behavior: smooth;
}

/* background: linear-gradient(to right, #060c18, #233a5d, #020408); */